@import "tailwindcss";

:root {
  --primary: #d7ff00;
  --primary-dark: #b5db00;

  --secondary: #8a2eff;
  --secondary-dark: #7024d0;

  --background: #050505;
  --surface: #111111;

  --text: #ffffff;
  --muted: #9ca3af;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

.breathe {
  animation: breathe 4s ease-in-out infinite;
}

@keyframes rotateSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-slow {
  animation: rotateSlow 20s linear infinite;
}